*{
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', sans-serif;
}

body{
  background-color: white;
}

header{
  background-color: seagreen;

  padding: 25px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;

  font-size: 30px;

  margin: 0px 25px;

  text-align: center;
}

.contenedor{
  display: flex;
  flex-direction: row;

  height: 100vh;
}

nav{
  background-color: transparent;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 25%;

  background-color: lightseagreen;
}

.titulo_categorias{
  font-size: 25px;
  font-weight: bold;

  color: white;

  background-color: mediumseagreen;

  padding: 25px 0px;

  text-align: center;

  border-bottom: 2px solid black;

  width: 100%;
}

.enlace_categoria{
  padding: 25px 0px;

  width: 100%;

  text-align: center;
  text-decoration: none;

  background-color: lightseagreen;

  border-bottom: 2px solid white;

  color: white;

  font-size: 18px;
}

.enlace_categoria:hover{
  background-color: cadetblue;
}

section{
  width: 75%;

  background-color: whitesmoke;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.enlace_pelicula{
  width: 250px;
  height: 350px;

  margin: 25px;

  display: block;

  text-decoration: none;
}

.contenedor_pelicula{
  width: 250px;
  height: 350px;
}

.imagen_pelicula{
  width: 250px;
  height: 300px;
}

.titulo_pelicula{
  font-size: 18px;

  color: white;

  text-align: center;

  font-size: bold;

  background-color: mediumseagreen;

  padding: 20px 25px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 25px;
}

#activo{
  background-color: cornflowerblue;
}

/* MOVIL */
@media (max-width: 750px) {
  h1{
    text-align: center;

    margin: 0px 25px;
  }

  .contenedor{
    display: flex;
    flex-direction: column;
  }

  nav{
    width: 100%;
  }

  section{
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
