*{
  margin: 0px;
  padding: 0px;

  font-family: 'Roboto', sans-serif;
}

body{
  background-color: white;
}

header{
  background-color: seagreen;

  padding: 25px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

h1{
  color: white;

  font-size: 30px;
}

section{
  margin: 25px;

  display: flex;
  flex-direction: row;
}

#contenedor_izquierda{
  flex-direction: column;
  display: flex;
}

#contenedor_derecha{
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-left: 25px;
}

#duracion_pelicula{
  font-size: 20px;

  margin-top: 10px;
}

#duracion_pelicula span{
  font-weight: bold;
}

#genero_pelicula{
  font-size: 20px;

  margin-top: 10px;
}

#genero_pelicula span{
  font-weight: bold;
}

#ano_pelicula{
  font-size: 20px;

  margin-top: 10px;
}

#ano_pelicula span{
  font-weight: bold;
}

#idioma_pelicula{
  font-size: 20px;

  margin-top: 10px;
}

#idioma_pelicula span{
  font-weight: bold;
}

#titulo_descripcion{
  font-size: 25px;
  font-weight: bold;

  margin-bottom: 10px;
}

#texto_descripcion{
  font-size: 18px;

  margin-bottom: 25px;
  margin-right: 25px;
}

/* MOVIL */
@media (max-width: 750px) {
  h1{
    text-align: center;

    margin: 0px 25px;
  }

  section{
    margin: 25px;

    display: flex;
    flex-direction: column;
  }

  iframe{
    width: 100%;
    height: 250px;

    margin-bottom: 25px;
  }

  #contenedor_derecha{
    margin: 0px 25px;
  }

  #titulo_descripcion{
    text-align: center;
  }

  #texto_descripcion{
    text-align: center;

    margin: 0px;
  }

  #duracion_pelicula{
    margin-top: 25px;

    text-align: center;
  }

  #genero_pelicula{
    text-align: center;
  }

  #ano_pelicula{
    text-align: center;
  }

  #idioma_pelicula{
    text-align: center;
  }
}
